<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Image List</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    
  <script type="text/babel">


    const handleResponse = (xhr, parseResponse) => {
      const content = document.querySelector('#content');
      
      content.innerHTML = `<h1>Status Code: ${xhr.status}</h1>`;
      
      if(parseResponse){
        const responseObj = JSON.parse(xhr.response);
        
        if(responseObj.users){
          content.innerHTML += `<p>Users: ${xhr.response}</p>`;
        }
        
        if(responseObj.message) {
          content.innerHTML += `<p>Message: ${responseObj.message}</p>`;
        }
        if(responseObj.id) {
          content.innerHTML += `<p>Id: ${responseObj.id}</p>`;
        }
      }
    };

    const sendAjax = (e, url, method) => {
      const xhr = new XMLHttpRequest();
      
      xhr.open(method, url);
      xhr.setRequestHeader('Accept', 'application/json');
      
      
      if(method === 'get'){
        xhr.onload = () => handleResponse(xhr, true);
      } else {
        xhr.onload = () => handleResponse(xhr, false);
      }
      
      xhr.send();
      
      e.preventDefault();
      return false;
    };

    const sendPost = (e, form) => {
      const xhr = new XMLHttpRequest();
      
      const url = form.getAttribute('action');
      const method = form.getAttribute('method');
      
      xhr.open(method, url);
      
      xhr.setRequestHeader('Accept', 'application/json');
      xhr.setRequestHeader('Content-Type', 'x-www-form-urlencoded');
      
      xhr.onload = () => handleResponse(xhr, true);
      
      
      const name = document.querySelector('#nameField').value;
      const age = document.querySelector('#ageField').value;
      
      const formData = `name=${name}&age=${age}`;
      
      xhr.send(formData);
      
      e.preventDefault;
      return false;
    };

    const init = () => {
      const nameForm = document.querySelector('#nameForm');
      const userForm = document.querySelector('#userForm');
      
      const nameSubmit = (e) => {
        sendPost(e, nameForm);
      };
      
      const userSubmit = (e) => {
        const url = document.querySelector('#urlField').value;
        const method = document.querySelector('#methodSelect').value;
        sendAjax(e, url, method);
      };
      
      
      nameForm.addEventListener('submit', nameSubmit);
      userForm.addEventListener('submit', userSubmit);
    };

    window.onload = init;
  </script>
</head>
<body>
  <section id="root">
    <h1>Image List</h1>
    <div>{{list}}</div>
    Number Of Lists: <input type="number" name="Entries" v-model="numOfLists" value=2 min=0 max=15 @change="changeNumOfLists"> 
    <br>
    Display URLs: <input type="checkbox" name="urlDisplay" @change="updateViewURLS($event)"><br>
    <br><br>
    <div id="listContainer">
    <transition-group name="list" tag="p">
        <div class="listPanel" v-for="item in genIntList(numOfLists)" v-bind:key="item" v-bind:style="{backgroundColor: hexToRGBA(list[item][1],0.95)}">
            <input placeholder="List Name" class="listName" type="text" v-model="list[item][0]">
            <br>
            List Color: <input class="listColor" type="color" v-model="list[item][1]">
            <br>
            Width: <input type="number" name="ImgWidths" v-model="list[item][2]" value=100 min=25 max=300> 
            Height: <input type="number" name="ImgHeights" v-model="list[item][3]" value=100 min=25 max=300> 
            <br>
            <transition-group name="list" tag="p">
                <div class="item" v-for="subitem in genIntList(list[item][4].length)" v-bind:key="subitem">
                    <input onClick="this.select();" placeholder="Paste Image URL" class="itemName" type="text" v-model="list[item][4][subitem]" @change="updateItemURL($event, item, subitem)" v-bind:style="{ 
                    backgroundImage: `url(${list[item][4][subitem]})`, width: ${list[item][2]}, height: ${list[item][3]}"}>
                    <br>
                    <input class="itemLabel" type="text" v-model="list[item][5][subitem]" v-bind:style="{width: list[item][2]}">
                </div>
                <span v-bind:key=99999999>
                    <button class="addButton" v-on:click="addItemToList($event, item)" v-if="list[item][4].length < 50">+</button>
                    <button class="subtractButton" v-on:click="subtractItemFromList($event, item)" v-if="list[item][4].length > 0">-</button>
                </span>
            </transition-group>
        </div>
    </transition-group>
    </div>
    
    
    <form id="nameForm" action="/addUser" method="post" style="display: none">
      <label for="name">Name: </label>
      <input id="nameField" type="text" name="name" />
      <label for="age">Age: </label>
      <input id="ageField" type="number" name="age" min="0" max="100" step="1"/>
      <input type="submit" value="Add User" />
    </form>
    
    <form id="userForm" action="/getUsers" method="get" style="display: none">
      <select id='urlField'>
        <option value='/getUsers'>/getUsers</option>
        <option value='/notReal'>/notReal</option>
      </select>
      <select id="methodSelect">
        <option value="get">GET</option>
        <option value="head">HEAD</option>
      </select>
      <input type="submit" value="Get User" />
    </form>
    
  </section>
  <section id="content">
  </section>
  <script>
		//Vue app
		const app = new Vue({
			el: '#root',
			data: {
				list: [],
                visibleList: [],
                numOfLists: 2
			},
			methods: {
                init(){
                    numOfLists = this.list.length;
                    this.changeNumOfLists();
                },
                changeNumOfLists() {
                    while(this.numOfLists>this.list.length){
                        this.list.push([
                            "", //List Name, 0
                            ["#dae1ed","#d7f9ce","#efebd8","#f8cfe4","#c8cfff"][Math.floor(Math.random() * 5)], //List BG Color, 1
                            100, //Widths, 2
                            100, //Heights, 3
                            [""], //List Items, 4
                            [""] //Item Names, 5
                        ]);
                    }
                    this.displayList();
				},
                displayList(){
                    this.visibleList = [];
                    for(let n = 0; n < this.numOfLists; n++){
                        this.visibleList.push(this.list[n]);
                    }
                },
                genIntList(x){
                    let intList = [];
                    for(let n = 0; n < x; n++){
                        intList.push(n);
                    }
                    return intList;
                },
                updateItemURL(e, listNum, itemNum){
                    e.target.parentElement.backgroundImage = "url(" + this.list[listNum][4][itemNum] + ")";
                },
                updateViewURLS(e){
                    console.log(e.value);
                    document.getElementsByClassName('itemName').style.opacity = "rgba(0,0,0," + Math.random + ")";
                },
                addItemToList(e, listNum){
                    this.list[listNum][4].push("");
                    this.list[listNum][5].push("");
                },
                subtractItemFromList(e, listNum){
                    this.list[listNum][4].pop();
                    this.list[listNum][5].pop();
                },
                hexToRGBA(hex, alpha) {
                    let r = parseInt(hex.slice(1, 3), 16),
                        g = parseInt(hex.slice(3, 5), 16),
                        b = parseInt(hex.slice(5, 7), 16);
                    return "rgba(" + r + ", " + g + ", " + b + ", " + alpha + ")";
                }
			}
		})
        
		app.init();
	</script>
</body>
</html>