html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: auto;
}
input{
    text-align: center;
    word-wrap: break-word;
    margin: 2px;
}
input.listName{
    width: 90%;
    height: 32px;
    font-size: 20px;
}
input.itemName{
    width: 100px;
    height: 100px;
    border: 2px;
    padding: 3px;
    margin: 2px;
}
button.newListItemButton{
    width: 100px;
    height: 100px;
    border: 2px;
    padding: 3px;
}
.listPanel{
    float: left;
    display: block;
    border-style: solid;
    border-width: 2px;
    padding: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 3px;
    max-width: 500px;
    width: 100%;
}
#listContainer{
    display: inline-block;
    margin: auto;
    max-width: 1600px;
    padding: 5px;
}