html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: auto;
    background-image: url(media/background.jpg);
    background-size: 100% auto;    
    transition: transform .5s;
}
input{
    text-align: center;
    word-wrap: break-word;
    margin: 2px;
    transition: transform .5s;
}
input.listName{
    width: 90%;
    height: 32px;
    font-size: 20px;
    max-width: 300px;
    margin-top: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #222222;
    border-top-width: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.item{
    display: inline-block;
    transition: transform .2s;
}
input.itemName{
    width: 100px;
    height: 15px;
    border-width: 2px;
    margin: 2px;
    font-size: 8px;
    padding-top: 85px;
    vertical-align: text-bottom;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    border-bottom-width: 0; 
    border-color: #999999;
}
.list-move{
    margin-left: 3px;
}
input.itemLabel{
    position: relative;
    top: -1px;
    margin-top: 0px;
    border-top-width: 0;  
    border-color: #999999;
    width: 100px;
    background-color: #fefefe;
    border-radius: 0;
}
button.addButton, button.subtractButton{
    width: 50px;
    height: 120px;
    padding: 0px;
    margin-bottom: 0px;
    vertical-align: text-bottom;    
    transition: transform .5s;
}
.listPanel{
    display: block;
    border-color: #222222;
    border-style: solid;
    border-width: 2px;
    padding: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 2px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    transition: transform .5s;
    border-radius: 10px;
    padding-top: 0px;
}
#listContainer{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1250px;
    padding: 5px;
}
button.subtractButton:hover, button.addButton:hover{
    transform: scale(1.05);
}
.item:hover{
    transform: scale(1.05);
}
span{
    display: inline-block;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.sizeInput{
    width: 50px;
}